{% include 'top.html' %}
{% include 'header.html' %}
{% include 'left.html' %}
<div id="content" xmlns="http://www.w3.org/1999/html">

    <div id="item">
        <!--<div id="itemview">
            1
        </div>-->
        <span class="error-box"></span>

            {% for value in data.res %}
            File name: {{ value.File_name }}
            <br>
<!--
            <span class="editable">#teg1</span>
            <span class="editable">#teg2</span>
            <span class="editable">#teg3</span>
            <span class="editable">#teg4</span>
            <span class="editable">#teg5</span>
            <span class="editable">#teg6</span>
            <a href="#"><b style="color: #dd1122">+add teg</b></a>
            <br>-->
            <p class="itemp">
                <select class="type-select">
                {% for type in data.type %}
                    {% if type.ID == value.Type_id %}
                    <option value="{{ type.ID}}" selected>{{ type.Title}}</option>
                    {% else %}
                    <option value="{{ type.ID}}">{{ type.Title}}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </p>
            <p class="itemp">Type: {{ value.Type }}</p>
            </br>
            <p class="itemp">Author: {{ value.Name }}</p>
            </br>
            <p class="itemp">Date: {{ value.Date }}</p>
            </br>
						<!--<span class="starRating">
								<input id="rating5" type="radio" name="rating" value="5">
								<label for="rating5">5</label>
								<input id="rating4" type="radio" name="rating" value="4">
								<label for="rating4">4</label>
								<input id="rating3" type="radio" name="rating" value="3" checked>
								<label for="rating3">3</label>
								<input id="rating2" type="radio" name="rating" value="2">
								<label for="rating2">2</label>
								<input id="rating1" type="radio" name="rating" value="1">
								<label for="rating1">1</label>
							</span>-->
        <input type="hidden" id="fID" value="{{ value.ID }}"/>
            {% endfor %}
        <button type="button" class="butt_log save">Save</button>

    </div>
</div>
<script>
$('.save').on('click', function () {
    type = $('.type-select').val();
    fID = $('#fID').val();
    $.ajax({
        type: "POST",
        url: "../action.php",
        data: {editFile:1, type: type, fID: fID},
        success: function(e){
            $('.error-box').text('');
            if (e == "ok"){
                $('.error-box').prepend("<div class=\"alert-box success\"><span>Success: </span>Your data was saved</div>");
            }
            else
                $('.error-box').prepend("<div class=\"alert-box error\"><span>Error: </span>"+e+"</div>");

        }

    });
});
</script>