<div id="wrapper">
    <div id="header">

        <div id="site_title">
            <a href="index.html" target="_parent"><img src="/images/logo.png" alt="HOME" height="70px"/></a>
        </div> <!-- end of site_title -->


        <div id="menu">
            <ul>
                <li><a href="/" class="current"><p class="linkmenu">Home</p></a></li>
                <li><a href="/upload/" ><p class="linkmenu">Upload</p></a></li>
                <li><a href="/query/" ><p class="linkmenu">Queries</p></a></li>
                <li><a href="/settings/"><p class="linkmenu">Settings</p></a></li>
            </ul>
        </div>  <!-- end of menu -->

        <!-- end of header -->

    </div>