<!DOCTYPE HTML>
<html>
<head>
    <title>{{ data.page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ data.path_to_root }}css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ data.path_to_root }}css/jRating.jquery.css" type="text/css" />
    <script src="{{ data.path_to_root }}js/jquery.min.js"></script>
    <script src="{{ data.path_to_root }}js/jquery.knob.js"></script>
    <script src="{{ data.path_to_root }}js/jRating.jquery.js"></script>
    <script src="{{ data.path_to_root }}js/jinplace-v1.1.0.min.js"></script>

    <!-- jQuery загрузка файлов -->
    <script src="{{ data.path_to_root }}js/jquery.ui.widget.js"></script>
    <script src="{{ data.path_to_root }}js/jquery.iframe-transport.js"></script>
    <script src="{{ data.path_to_root }}js/jquery.fileupload.js"></script>

    <!-- Основной JS файл -->
    <script src="{{ data.path_to_root }}js/script.js"></script>
</head>
<body>