{% include 'top.html' %}
{% include 'header.html' %}
{% include 'left.html' %}

    <div id="content">
    <ul id="uploadul">
        <li>
            <form id="upload" method="post" action="../upload.php" enctype="multipart/form-data">
                <div id="drop">
                    Drop files here
                    <a>Upload</a>
                    <input type="file" name="upl" multiple />
                </div>
                <ul>
                    <!-- Файлы будут загружаться здесь -->
                </ul>
            </form>
        </li>
        </ul>
</div>
    </div>


<!-- {% include 'bottom.html' %} -->